:root{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #282828;
    font-size: 16px;
    font-weight: bold;
}
.expanded {
  width: 40vh !important;
  height: 40vh !important;
}

#searchBar{
  position: absolute;
  top: 15%;
  left:5%;
}
#logo {
  position: absolute;
  left: 5%;
}
.navbar {
  position: absolute;
  width: 90%;
  height: 4%;
  top: 7%;
  left: 5%;
  color: bisque;
  display: grid;
  grid-template-columns: [margin1] 5% [col1] 18% [col2] 18% [col3] 18% [col4] 18% [col5] 18% [margin2] 5%;
  grid-template-rows: [row1] 100%;
  background-color: rgb(172, 167, 167);
  border-radius: 5px;
  padding: 1vh;
  list-style: none;
  transition: all 200ms;
}
.navbar li {
  height: 100%;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}
.navbar li:hover {
  border: solid darkslategrey 3px;
  transition: all 200ms;
}
.navbar #index {
  grid-column: col1;
  grid-row: row1;
}
.navbar #bricks {
  grid-column: col2;
  grid-row: row1;
}
.navbar #sets {
  grid-column: col3;
  grid-row: row1;
}
.navbar #basket {
  grid-column: col4;
  grid-row: row1;
}

/* Home */

#favouritesHolder {
  max-width: 90vw;
  padding: 7px;
  border-radius: 5px;
  border: yellow solid 1px ;
  height: 43vh;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  gap: 5vh;
} #favouritesHolder::before {
  content: "Favourites";
  color: yellow;
  border: solid 1px;
  position: absolute;
  text-align: center;
  left: -5%;
  width: 10%;
  padding: 3px;
  background-color: darkslategray;
}

#setsHolder {
  max-width: 90vw;
  padding: 7px;
  border-radius: 5px;
  border: yellow solid 1px ;
  height: 43vh;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  gap: 5vh;
} #setsHolder::before {
  content: "Suggested Sets";
  color: yellow;
  position: absolute;
  border: solid 1px;
  position: absolute;
  left: -5%;
  text-align: center;
  width: 10%;
  padding: 3px;
  background-color: darkslategray;
}

#bricksHolder {
  max-width: 90vw;
  padding: 7px;
  border-radius: 5px;
  border: yellow solid 1px ;
  height: 43vh;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  gap: 5vh;
} #bricksHolder::before {
  content: "Suggested Bricks";
  color: yellow;
  position: absolute;
  border: solid 1px;
  position: absolute;
  left: -5%;
  text-align: center;
  width: 10%;
  padding: 3px;
  background-color: darkslategray;
}

/* bricks */
.Holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
  gap: 5vh;
  position: absolute;
  width: 90vw;
  top: 20%;
  left: 5%;
}
.Block {
  background-color: rgb(172, 167, 167);
  color: yellow;
  border: none;
  border-radius: 5px;
  text-align: center;
  transition: all 200ms;
}
.Block:hover {
  border-color: darkslategrey !important;
  background-color: darkslategrey !important;
  transition: all 200ms;
}

/* elements inside the brick holders*/
#brickHolder{
  height: 33vh;
  width: 33vh;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: [margin1] 2.5% [col1] 47.5% [col2] 47.5% [margin2] 2.5%;
  grid-template-rows: [margin1] 2.5% [row1] 10% [row2] 10% [row3] 10% [row4] 45% [row5] 20% [margin2] 2.5%;
}
#brickHolder #brickID {
  grid-row: row1;
  grid-column: col1;
}
#brickHolder #brickColour {
  grid-row: row2;
  grid-column: col1;
}
#brickHolder #brickName {
  grid-row: row1;
  grid-column: col2;
}

#buyButton {
  background-color: lime;
  border: none;
  transition: all 200ms;
  grid-column-start: col2;
  grid-row-start: row5;
} 
#buyButton:hover {
  background-color: rgb(5, 129, 5);
}
#brickHolder #remove {
  display: grid;
  background-color: yellow;
  border: none;
  grid-template-columns: [col1] 50% [col2] 50%;
  grid-template-rows: [row1] 100%;
  grid-column-start: col1;
  grid-row-start: row5;
}
#brickHolder #remove #binButton {
  grid-column-start: col1;
  height: 100%;
  background-color: red;
  transition: all 100ms;
  background-color: red;
}
#brickHolder #remove #binButton:hover {
  background-color: rgb(114, 0, 0);
}
#basketAmount {
  grid-column-start: col2;
  color: black;
}
#brickDescription {
  grid-column: col2;
  grid-row: row2;
}
#brickStocklevel {
  grid-column: col2;
  grid-row: row4;
}



/*basket*/
.BasketBlock {
  display: grid;
  background-color: rgb(172, 167, 167);
  color: yellow;
  text-align: center;
  border-color: darkslategrey;
  border-radius: 5px;
  border-style: solid;
  transition: all 200ms;
  height: 20vh;
  width: 90vw;
  grid-template-columns: [margin1] 5% [col1] 30% [col2] 30% [col3] 15% [col4] 15% [margin2] 5%;
  grid-template-rows: [margin1] 5% [row1] 20% [row2] 20% [row3] 20% [row4] 20% [row5] 15% [margin2] 5%;
}
.BasketBlock:hover {
  background-color: darkslategrey !important;
}
.BasketBlock #remove {
  display: grid;
  grid-template-columns: [col1] 50% [col2] 50%;
  grid-template-rows: [row1] 100%;
}
.BasketBlock #basketName {
  grid-column: col2;
  grid-row: row1;
}
.BasketBlock #basketID {
  grid-column: col1;
  grid-row: row1;
}
.BasketBlock #basketPrice {
  grid-column: col2;
  grid-row: row2;
}
.BasketBlock #basketDesc {
  overflow:hidden scroll;
  grid-column: col3;
  grid-row: row1 / row3;
}
.BasketBlock #basketColour {
  grid-column: col2;
  grid-row: row3;
}
.BasketBlock #basketType {
  grid-column: margin1;
  grid-row: margin1 / row2;
  border-bottom-right-radius: 5px;
}
.BasketBlock #remove {
  display: grid;
  background-color: yellow;
  grid-column: col3;
  grid-row: row4;
  grid-template-columns: [col1] 50% [col2] 50%;
  grid-template-rows: [row1] 100%;
}
.BasketBlock #binButton {
  background-color: red;
  height: 100%;
}
.BasketBlock #binButton:hover {
  background-color: rgb(114, 0, 0);
}
#completeButton {
  position: absolute;
  background-color: lime;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: all 200ms;
  left: 5%;
  top: 14%;
  height: 5%;
  width: 5%
} #completeButton:hover {
  background-color: limegreen;
}
#totalCost {
  background-color: limegreen;
  border: none;
  font: 20px ariel sans-serif;
  text-align: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  left: 10%;
  top: 14%;
  height: 5%;
  width: 5%;
}


/* sets */

#setHolder {
  height: 33vh;
  width: 33vh;
  display: grid;
  grid-template-columns: [margin1] 2.5% [col1] 47.5% [col2] 47.5% [margin2] 2.5%;
  grid-template-rows: [margin1] 2.5% [row1] 10% [row2] 10% [row3] 10% [row4] 45% [row5] 20% [margin2] 2.5%;
}
#setID {
  grid-column: col1;
  grid-row: row1;
}
#setName {
  grid-column: col2;
  grid-row: row1;
}
#setPrice {
  grid-column: col2;
  grid-row: row2;
}
#setDescription {
  grid-column: col2;
  grid-row: row3;
}
#setHolder #remove {
  display: grid;
  background-color: yellow;
  grid-column: col1;
  grid-row: row5;
  grid-template-columns: [col1] 50% [col2] 50%;
  grid-template-rows: [row1] 100%;
}
#setHolder #remove #binButton {
  background-color: red;
  height: 100%;
}
#setHolder #remove #binButton:hover {
  background-color: rgb(145, 0, 0);
}
#setStocklevel {
  grid-column: col2;
  grid-row: row4;
}